@font-face {
    font-family: Righteous;
    src: url('Righteous-Regular.ttf');
}
body {
    background-color: LightBlue;
    }
h1 { 
    margin: 0 auto;
    width: 330px;
    text-align: center;
    font-family: Righteous;
    font-size: 50px;
    color: SteelBlue;
    border-top: 7px solid steelblue;
    border-bottom: 7px solid steelblue;
    }
p { text-align: center;
    margin-top: 50px;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    color: black;
    }
table {margin: 0 auto;
    border: .5px solid black;
    border-collapse: collapse;
    }
td { padding: 5px 5px 5px 10px;
    border: .5px solid black;
}
th {
    padding: 5px 15px 5px 5px;
    border: 1px, solid, black;
    color: SteelBlue;
    background: rgba(174, 219, 255, 0.658);
    font-family: Helvetica;
    font-size: 25px; 
    text-align: left;
    }
.tags { 
    font-family: monospace;
    font-size: 12px;
    background-color: rgba(245, 245, 245, 0.658)
}
    /* 
    color:  LightSkyBlue;
    color: SkyBlue;
    */
